* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.topic {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.topic2 {
  margin: 0 30px;
}

.step {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.image1 {
  background-image: url(img/flow01.png);
}
.image2 {
  background-image: url(img/flow02.png);
}
.image3 {
  background-image: url(img/flow03.png);
}
.title {
  margin: 15px 0 5px 0;
}

footer {
  width: auto;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .topic {
    width: 90%;
    margin: 0 auto;
  }

  .topic2 {
    margin: 20px auto;
  }
}
